ul{list-style-type: none;
    background: url(../image/bj.png);
    background-repeat: no-repeat;
    height: 500px;width:300px;
   }
 .a{background: url(../image/baibiaoti.png);
 	background-repeat: no-repeat;color: gray;height: 40px;}
 .b{background: url(../image/lvbiaoti.png);
 	background-repeat: no-repeat;color: white;height: 40px;}